.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.body {
  max-width: 1440px;
  margin: auto;
  height: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

/* Header */
.headr-block {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  height: 150px;
  align-items: center;
  background-color: #f6f67d;
}

/* Footer */
.footer-wrapper {
  margin-top: auto;
}

/* Navigation */
.headr-block li a {
  color: rgb(32, 32, 32);
}
.headr-block li:hover a {
  color: rgb(160, 160, 160);
}
.headr-block li:active a {
  color: rgb(131, 117, 117);
}

/* About me */
.about-me-wrapper {
  padding: 1rem;
}
.protfolio-image {
  width: 150px;
  margin: 2rem 0;
}
.protfolio-image img {
  width: 100%;
}

/* Protfolio */
.protfolio-content-wrapper {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 1rem;
}

/* Project */
.project-wrapper {
  margin: 1rem;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  border-radius: 2rem;
  border: 0.5rem dotted lightgray;
  height: 400px;
  width: 100%;
  max-width: 450px;
  min-width: 350px;
}
.project-content {
  position: absolute;
  top: 1rem;
  left: 1rem;
  display: flex;
  padding: 2rem;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 1rem;
  align-items: center;
}
.project-content a {
  color: black;
  font-weight: 600;
  font-size: 1.5rem;
  margin-right: 1rem;
  text-decoration: none;
}
.project-content a:hover {
  color: rgb(88, 88, 88);
  font-weight: 600;
  font-size: 1.5rem;
  margin-right: 1rem;
  text-shadow: 0 2px 3px #7a7a7a;
}

/* Contact */
.contact-block,
.contact-form,
.contact-form label {
  display: flex;
  flex-direction: column;
  padding: 1rem;
}

.contact-form {
  max-width: 500px;
  min-width: 330px;
  width: 100%;
  margin: 1rem;
  padding: 1rem;
  border: 3px black lightgray;
}

.contact-form label {
  margin-bottom: 1rem;
}

.error-message {
  color: red;
}

.formSuccessfulMessage {
  max-width: 500px;
  min-width: 330px;
  width: 100%;
  color: green;
  font-size: 2rem;
  font-weight: 600;
  width: 100%;
  text-align: center;
}

/* RESUME */
.resume-wrapper {
  padding: 1rem;
}
.download-resume-wrap {
  font-size: 1.2rem;
  color: black;
  display: flex;
  align-items: center;
}
.resume-download {
  font-size: 1.2rem;
  text-decoration: none;
  color: rgb(17, 17, 141);
  margin-left: 0.5rem;
}
.resume-download:hover {
  font-size: 1.2rem;
  color: rgb(133, 133, 133);
  margin-left: 0.5rem;
}

@media screen and (max-width: 500px) {
  .contact-form {
    margin: 0;
  }
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
